<ng-container>
    
    <app-workspace-header></app-workspace-header>

    <section>
        <ul>
            <li [routerLink]="['/workspace']">Playlists</li>
            <li [routerLink]="['/workspace','tracks']">Tracks</li>
            <li [routerLink]="['/workspace','artists']">Artists</li>
            <li [routerLink]="['/workspace', 'digital-assets']">Digital Assets</li>
            <li (click)="logout()">Logout</li>
        </ul>
        <main>
            <router-outlet></router-outlet>
        </main>

    </section>

    
</ng-container>