:host {
    display: block;
    position: relative;
    box-sizing: border-box;

    .close-button {
        position: absolute;
        right: 0px;
        top:0px;
    }

    form {
        text-align: center;
    }

    h1 {
        padding: 30px 0 30px 0;
    }

    mat-card {
        padding:30px;
    }
}
