:host {
    display: block;
    background-color: #F5F3EF;
    height: 100%;
    width: 100%;
    text-align: center;

    .logo {
        margin:40px auto 20px auto;
        box-sizing: border-box;
    }

    main {
        display: grid;
        min-height: 1px;
        margin: 70px 0 0 0;
    }
}

