<mat-card *ngIf="vm$ | async as vm">

    <h1 *ngIf="(song$ | async)">Edit Song</h1>
    <h1 *ngIf="!(song$ | async)">Create Song</h1>
    <form [formGroup]="vm.form">
        <app-song-editor formControlName="song">
        </app-song-editor>
    </form>

    <div class="actions">
        <button mat-raised-button (click)="save(vm)" color="primary" [disabled]="!vm.form.dirty && vm.form.valid">Save</button>

        <button mat-raised-button (click)="cancel()">Cancel</button>
    </div>
</mat-card>
